# Volcengine Ark API Key
# Get it from: https://console.volcengine.com/ark/region:ark+cn-beijing/apiKey
# If set here, the UI input will be pre-filled and the key won't need to be entered manually.
API_KEY=your_volcengine_ark_api_key_here
